body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f8f9fa;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkred;
    text-align: center;
}

p {
    font-size: 25px;
    line-height: 2;
}

li {
    font-size: 18px;
    line-height: 1.5;
}


ul {
    list-style-type: square;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}
